<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300329462225-kd52rhukurcqjvs6rcvej0egr53rq1sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300329462225-kd52rhukurcqjvs6rcvej0egr53rq1sj</string>
	<key>API_KEY</key>
	<string>AIzaSyDdQdeoRfMUhhuV5jUyGYe0yYk5ch99PYA</string>
	<key>GCM_SENDER_ID</key>
	<string>300329462225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pointters.iosdevelopment</string>
	<key>PROJECT_ID</key>
	<string>pointters-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>pointters-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300329462225:ios:00daf49fb4e7af19</string>
	<key>DATABASE_URL</key>
	<string>https://pointters-firebase.firebaseio.com</string>
</dict>
</plist>